@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/MyriadPro-Regular.woff');
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/Myriad Pro Bold.ttf');
}

@font-face {
     font-family: 'MinionPro';
     src: url('../fonts/Minion Pro Regular.ttf');
}
