.header {
    position: relative;
    width: 100%;
    background-image: url(../images/headerBackground.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 98.89px;
    text-align: center;

    .headerMain {
        width: 100%;
        margin-bottom: 90.36px;

        .headerMainTitle, .headerMainText {
            margin-left: 19.09%;
            text-align: left;
        }


        .headerMainTitle {
            margin-bottom: 27.04px;

            h2 {
                font-family: 'MyriadProRegular', Arial, sans-serif;
                font-size: $headerMainTitleFont;
                font-weight: bold;
                color: white;

                span {
                    font-family: 'MyriadProBold', Arial, sans-serif;
                }
            }
        }

        .headerMainText {
            font-family: 'MyriadProRegular', Arial, sans-serif;
            font-size: $headerMainTextFont;
            line-height: 1.5;
            margin-bottom: 71.86px;
            color: white;
            width: 37.56%;
        }

        .headerMainMenuList {
            display: inline-block;
            margin: auto;

            .headerMainMenuListItem, .headerMainMenuListButton {
                height: 51.94px;
                box-sizing: border-box;
                cursor: pointer;
            }

            & > * {
                display: inline-block;
                vertical-align: bottom;
            }

            .headerMainMenuListItem {
                padding: 19.34px 23.47px 0px 14.23px;
                background-color: white;
                position: relative;

                .datePicker {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }

                & > * {
                   display: inline-block;
                   vertical-align: middle;
               } 

               &:nth-child(1) {
                   border-top-left-radius: 6px;
                   border-bottom-left-radius: 6px; 
               }

               &:not(:nth-child(4)) {
                   border-right: 1px solid #efefef;
               }

               .boatIcon {
                   width: $boatIconW;
                   height: auto;
                   margin-right: 11.38px;
               }

               .peopleIcon {
                   width: $peopleIconW;
                   height: auto;
                   margin-right: 11.38px;
               }

               .dateIcon {
                   width: $dateIconW;
                   height: auto;
                   margin-right: 11.38px;
               }

               .backIcon {
                   width: $backIconW;
               }

               .headerMainMenuListItemText {
                   font-family: 'Product Sans', Arial, sans-serif;
                   font-size: $headerMainMenuListFont;
                   color: #a1b1bc;
                   margin-right: 12.81px;
            
               }

            }

            .headerMainMenuListButton {
                font-family: 'Product Sans', Arial, sans-serif;
                font-size: $headerMainMenuButtonFont;
                color: white;
                font-weight: bold;
                padding: 22.34px 42.69px 0px 42.69px;
                background-color: #09c7ff;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }

    .headerVideo {
        display: inline-block;
        margin-left: 75.73%;
        margin-bottom: 41.26px;

        & > * {
            display: inline-block;
        }
        .headerVideoText {
            font-family: 'MyriadProRegular', Arial, sans-serif;
            font-size: $headerVideoFont;
            margin-right: 17.08px;
            letter-spacing: 3px;
            color: white;
        }

        .headerVideoImg {
            box-sizing: border-box;
            cursor: pointer;
            width: 30.59px;
            height: 30.59px;
            border-radius: 100%;
            background-color:rgba(64, 92, 112, 0.5);
            text-align: center;
            padding-top: 8.14px;

            img {
                width: 12.09px;
            }
        }
    }

    .headerBottom {    
        margin: auto;
        margin-bottom: -300px;
        width: 1098.73px;
        background-color: white;
        border-radius: 3px;
        padding: 41.98px 58.34px 58.34px 58.34px;
         -webkit-box-shadow: 2px 2px 24px 9px rgba(0,0,0,0.11);
        -moz-box-shadow: 2px 2px 24px 9px rgba(0,0,0,0.11);
        box-shadow: 2px 2px 24px 9px rgba(0,0,0,0.11);

        .headerBottomTitle {
            font-family: 'Product Sans', Arial, sans-serif;
            font-size: 23.48px;
            color: #2a4253;
            margin-bottom: 47.67px;
            text-align: left;

            span {
                font-weight: bold;
            }
        }

        .headerBottomContent {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           text-align: left;
           /* & > * {
                display: inline-block;
                vertical-align: top;
            }*/

            .headerBottomItem {
                
               &:not(:last-child) {
                    margin-right: 32.02px;
               }

                & > * {
                    display: inline-block;
                    vertical-align: top;
                }

                .headerBottomIcon {
                    width: 82.53px;
                    margin-right: 20.04px;
                }

                .headerBottomItemText {
                    text-align: left;

                    .headerBottomItemTextTitle {
                        font-family: 'Product Sans', Arial, sans-serif;
                        font-size: 15.61px;
                        color: #052833;
                        margin-bottom: 18.5px;

                        span {
                            font-weight: bold;
                        }
                    }

                    .headerBottomItemTextDesc {
                        width: 175px;
                        font-family: 'Product Sans', Arial, sans-serif;
                        font-size: 11.35px;
                        color: #a1b1bc;
                    }
                }
            }
        }

        @media screen and(max-width: 1110px) {
            width: 100%;
            padding-left: 2%;

            .headerBottomContent {
                margin-top: -15px;

                & > * {
                    margin-top: 15px;
                }
            }

            @media screen and(max-width: 393px) {
                .headerBottomContent {
                    .headerBottomItem {
                        & > * {
                            display: block;
                        }

                        .headerBottomIcon {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

   /* @media screen and (min-width: 1680px) and (max-width: 2560px) {
        .headerTop{
            padding-top: $headerTopPadding / 1366px * 1920px;

            .headerTopTitle {
                h1 {
                    font-size: $headerTopTitleFont / 1366px * 1920px;
                }

                &:after {
                    height: 30px;
                    top: 18px;
                    right: 5px;
                }
            }

            .headerTopPhone {
                font-size: $headerTopPhoneFont / 1366px * 1920px;
            }

            .headerTopMenu {
                li {
                    font-size: $headerTopMenuFont / 1366px * 1920px;
                }
            }
        }

        .headerMain {
            .headerMainTitle {
                h2 {
                    font-size: $headerMainTitleFont / 1366px * 1920px;
                }
            }

            .headerMainText {
                font-size: $headerMainTextFont / 1366px * 1920px;
            }

            .headerMainMenuList {
                .headerMainMenuListItem {
                     .headerMainMenuListItemText {
                        font-size: $headerMainMenuListFont / 1366px * 1920px;
                    }

                    .boatIcon {
                        width: $boatIconW / 1366px * 1920px;
                    }

                    .peopleIcon {
                        width: $peopleIconW / 1366px * 1920px;
                    }

                    .dateIcon {
                        width: $dateIconW / 1366px * 1920px;
                    }

                    .backIcon {
                        width: $backIconW / 1366px * 1920px;
                    }
                }
                   
                .headerMainMenuListButton {
                    font-size: $headerMainMenuButtonFont / 1366px * 1920px;
                }
            }
        }

        .headerVideo {
            .headerVideoText {
                font-size: $headerVideoFont / 1366px * 1920px;
            }
        }

    }*/

   /* @media screen and (max-width: 1233px) {
        .headerTop {
            .headerTopPhone {
                margin-right: $headerPhoneMR / 1366px * 800px;
            }
        }
    }

    @media screen and (max-width: 1036px) {
        .headerTop {
            .headerTopPhone {
                margin-right: $headerPhoneMR / 1366px * 600px;
            }
        }
    }*/

   @media screen and (max-width: 949px) {

        .headerMain {
            .headerMainTitle {
                margin-left: 6%;
            }
            .headerMainText {
                margin-left: 6%;
                width: 70%;
            }
            .headerMainMenuList {
                .headerMainMenuListButton {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        background-image: url(../images/headerBackgroundMobile.png);

        .headerMain {
            .headerMainTitle {
                margin-left: 8%;
                h2 {
                    font-size: $headerMainTitleFont / 1366px * 700px;
                }
            }

            .headerMainText {
                margin-left: 8%;
                width: 78%;
                font-size: $headerMainTextFont / 1366px * 900px;
            }

            .headerMainMenuList {
                & > * {
                    display: block;
                    width: 100%;
                }

                .headerMainMenuListItem {
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-bottom: 10px;

                    &:first-child {
                        border-radius: 0;
                    }

                    .boatIcon, .peopleIcon, .dateIcon {
                        float: left;
                        padding-top: 4px;
                        margin-right: 15px;
                    }


                    .backIcon {
                        margin-top: 7px;
                        float: right;
                    }
                }

                 .headerMainMenuListButton {
                        border-radius: 0;
                }
            }
        }

        .headerVideo {
            display: inline-block;
            margin-left: initial;
            text-align: center;
        }
    }
}