.home {
    .featuredTrips {
        position: relative;
        padding-top: 223.4px;
        padding-bottom: 63.32px;

        .backgroundLeft {
            position: absolute;
            z-index: -1;
            top: 170px;
            left: 0;
            width: 184.27px;
        }

        .backgroundRight {
            position: absolute;
            z-index: -1;
            width: 234.78px;
            right: 0;
            bottom: 0;
        }

        .featuredTripsTitle {
            position: relative;
            z-index: 2;
            font-family: 'Product Sans', Arial, sans-serif;
            font-size: 23.48px;
            color: #052833;
            margin-left: 11.98%;
            margin-bottom: 21.34px;

            span {
                font-weight: bold;
            }
        }

        .featuredTripsText {
            position: relative;
            z-index: 2;
            width: 442.53px;
            font-family: 'Product Sans', Arial, sans-serif;
            font-size: 12.76px;
            color: #2a3d4a;
            margin-left: 11.98%;
            margin-bottom: 75.41px;
        }

        .featuredTripsImageSlider {
            width: 100%;
            height: 340px;
            margin-bottom: 47.68px;
            
            .slider {
                width: 100%;
                height: 100%;

                .inner {
                   overflow-y: visible;
                   width: 100%;
                   height: 100%;

                   .slick-list {
                       width: 100%;
                       height: 100%;
                       padding-top: 27px;
                       overflow-y: visible;
                        
                    }
                }
            }

        }

        .featuredTripsLink {
            display: block;
            position: relative;
            z-index: 2;
            text-align: center;

            & > * {
                display: inline-block;
                vertical-align: middle;
            }

            .featuredTripsLinkText {
                font-family: 'Product Sans', Arial, sans-serif;
                font-size: 10.69px;
                letter-spacing: 1px;
                color: #08b3e5;
                font-weight: bold;
                margin-right: 17.79px;
            }

            img {
                width: 7.83px;
            }
        }

        @media screen and (max-width: 767px) {
           

            .backgroundLeft, .backgroundRight {
                opacity: 0.2;
            }

            .featuredTripsTitle {
                margin-left: 2%;
            }

            .featuredTripsText {
                margin-left: 2%;
                width: 97%;
            }

        }
    }

    .rentSection {
        background-color: #f6fafe;
        background-image: url(../images/cards.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover ;
        height: 427.59px;
        padding-right: 22.4%;

        .rentSectionContent {
            float: right;
            margin-top: 140.16px;

            .rentSectionTitle {
                 font-family: 'Product Sans', Arial, sans-serif;
                 font-size: 23.46px;
                 color: #052833;
                 margin-bottom: 19.92px;

                 span {
                     font-weight: bold;
                 }
            }

            .rentSectionText {
                width: 300.24px;
                font-family: 'Product Sans', Arial, sans-serif;
                font-size: 12.8px;
                color: #2a3d4a;
                margin-bottom: 23.48px;
            }

            .rentSectionLink {
                
                & > * {
                    display: inline-block;
                    vertical-align: middle;
                }

                 .rentSectionLinkText {
                    font-family: 'Product Sans', Arial, sans-serif;
                    font-size: 10.69px;
                    letter-spacing: 1px;
                    color: #08b3e5;
                    font-weight: bold;
                    margin-right: 17.79px;
                }

                img {
                    width: 7.83px;
                }
            }
        }

        @media screen and (max-width: 767px) {
            padding-left: 2%;
            padding-right: 0;
            padding-top: 60px;

            .rentSectionContent {
                float: none;
                display: block;
                margin-top: 0;
                
                .rentSectionText {
                    width: 97%;
                }
            }
        }
    }

    .bookSection {
        background-image: url('../images/bookBackground.png');
        background-position: center center;
        background-size: cover;
        height: 427.59px;
        padding-left: 17.03%;

        .bookSectionContent {
            margin-top: 142.29px;
            float: left;

            .bookSectionTitle {
                 font-family: 'Product Sans', Arial, sans-serif;
                 font-size: 23.46px;
                 color:white;
                 margin-bottom: 19.92px;

                 span {
                     font-weight: bold;
                 }
            }

            .bookSectionText {
                width: 300.24px;
                font-family: 'Product Sans', Arial, sans-serif;
                font-size: 12.8px;
                color: white;
                margin-bottom: 23.48px;
            }

            .bookSectionLink {
                
                & > * {
                    display: inline-block;
                    vertical-align: middle;
                }

                 .bookSectionLinkText {
                    font-family: 'Product Sans', Arial, sans-serif;
                    font-size: 10.69px;
                    letter-spacing: 1px;
                    color: white;
                    font-weight: bold;
                    margin-right: 17.79px;
                }

                img {
                    width: 7.83px;
                }
            }
        }

        @media screen and (max-width: 767px) {
            padding-left: 2%;
            padding-right: 0;
            padding-top: 60px;

            .bookSectionContent {
                float: none;
                display: block;
                margin-top: 0;
                
                .bookSectionText {
                    width: 97%;
                }
            }
        }
    }

    .excursionSection {
        position: relative;
        height: 1003.16px;
        background-color: #f6fafe;
        padding-top: 83.24px;
        margin-bottom: 200px;

        .excursionSectionImage {
            position: absolute;
            z-index: 1;
            width: 242.61px;

            &:nth-child(1) {
                top: 210.59px;
                right: 17.03%;
            }

            &:nth-child(2) {
                top: 362.13px;
                left: 18.02%;
            }

            &:nth-child(3) {
                top: 559.21px;
                right: 35.63%;
                width: 291.7px;
            }

            &:nth-child(4) {
                top: 816.75px;
                right: 15.1%;
            }
        }

        .excursionSectionTitle {
            font-family: 'Product Sans', Arial, sans-serif;
            font-size: 23.46px;
            color: #052833;
            margin-bottom: 19.92px;
            text-align: center;

            span {
                font-weight: bold;
            }
        }

        .excursionSectionText {
            width: 458.89px;
            font-family: 'Product Sans', Arial, sans-serif;
            font-size: 12.8px;
            color: #2a3d4a;
            margin: auto;
            text-align: center;
            margin-bottom: 155.81px;
        }

        .excursionSectionItem {
            position: relative;
            z-index: 2;
            width: 244.74px;

            &:nth-child(7) {
                margin: auto;
                margin-bottom: 78.26px;
            }
            &:nth-child(8) {
                float: right;
                margin-right: 11.98%;
                margin-bottom: 3px;
            }

            &:nth-child(9) {
                float: left;
                clear: right;
                margin-left: 19.53%;
                margin-bottom: 3px;
            }
           
            .excursionSectionItemInfoButton {
                width: 143px;
                text-align: center;
                border-radius: 3px;
                background-color: #c7f0fe;
                padding-top: 12.81px;
                padding-bottom: 12.81px;
                font-family: 'Product Sans', Arial, sans-serif;
                font-weight: bold;
                font-size: 12.19px;
                color: #09c7ff;
                margin-bottom: 20.63px;
            }
            .excursionSectionItemTitle {
                 font-family: 'Product Sans', Arial, sans-serif;
                 font-size: 17.81px;
                 color: #052833;
                 margin-bottom: 21.34px;

                 span {
                     font-weight: bold;
                 }
            }

            .excursionSectionItemText {
                font-family: 'Product Sans', Arial, sans-serif;
                font-size: 12.12px;
                color: #2a3d4a;
                
            }
        }

        @media screen and (max-width: 767px) {
            padding-left: 2%;

            .excursionSectionText {
                width: 97%;
            }

            .excursionSectionImage {
                opacity: 0.2;
                left: 8%;
            }

            .excursionSectionItem {
               &:nth-child(7) {
                   margin: initial;
                   margin-bottom: 20px;
               }
               
               &:nth-child(8) {
                   float: none;
                   margin-right: 0;
                   margin-bottom: 20px;
               }

               &:nth-child(9) {
                   float: none;
                   margin-left: 0;
               }
            }
        }
    }

    .helpSection {
        position: relative;
        background-image: url(../images/helpBackground.png);
        background-position: center center;
        background-size: cover;
        height: 426.88px;
        padding-right: 22.39%;
        background-color: #ebf5fc;

        .helpSectionIcon {
            position: absolute;
            width: 83.95px;
            z-index: 1;

            &:nth-child(1) {
                top: 127.35px;
                left: 40.57%;
            }

            &:nth-child(2) {
                top: 244.03px;
                left: 43.7%;
            }

        }

        .helpSectionContent {
            position: relative;
            z-index: 2;
            float: right;
            margin-top: 110.99px;

            .callCenterImage {
                display: block;
                width: 39.84px;
                margin-bottom: 24.19px;
            }

            .helpSectionTitle {
                font-family: 'Product Sans', Arial, sans-serif;
                font-size: 23.46px;
                color: #052833;
                margin-bottom: 21.34px;

                span {
                    font-weight: bold;
                }
            }

            .helpSectionText {
                width: 301.66px;
                font-family: 'Product Sans', Arial, sans-serif;
                font-size: 12.8px;
                color: #2a3d4a;
                margin-bottom: 26.32px;
            }

            .helpSectionButton {
                overflow: visible;
                position: relative;
                width: 130.9px;
                background-color: #09c7ff;
                border-radius: 3px;
                padding: 11.38px 18.5px 11.38px 18.5px;
                text-align: center;

                img {
                    transition: transform 0.5s ease-in-out;
                }

                &:hover {
                    img {
                       -webkit-transform: translateX(7px);
                       transform: translateX(7px);     
                    }
                }

                &:after {
                    position: absolute;
                    content: "";
                    width: 0px;
                    height: 0px;
                    top: 12.09px;
                    left: -7px;
                    border-style: solid;
                    border-width: 7.47px 7.11px 7.47px 0;
                    border-color: transparent #09c6ff transparent transparent;
               }

                & > * {
                    display: inline-block;
                    vertical-align: middle;
                }
                
                .helpSectionButtonText {
                    font-family: 'Product Sans', Arial, sans-serif;
                    text-decoration: none;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 12.09px;
                    color: white;
                    margin-right: 15.65px;
                }

                img {
                    width: 7.83px;
                }
            }
        }

        @media screen and (max-width: 1134px) {
            .helpSectionIcon {
                opacity: 0.2;
            }
        }

        @media screen and (max-width: 767px) {
            padding-left: 2%;
            padding-top: 70px;
            padding-right: 0;

            .helpSectionContent {
                float: none;
                margin-top: 0;

                .helpSectionText {
                    width: 97%;
                }
            }
        }
    }

    
}

