$headerTopPadding: 28.46px;
$headerTopTitleFont: 19.84px; 
$headerTopMB: 113.33px;
$headerPhoneMR: 453.18px;
$headerTopPhoneFont: 14.94px;
$headerTopMenuFont: 12.87px;

$headerMainTitleFont: 61.13px;  /*49.13*/
$headerMainTextFont: 17.78px;
$headerMainMenuListFont: 11.17px;
$headerMainMenuButtonFont: 11.38px;

$headerVideoFont: 14.23px;

 $boatIconW: 16.36px;
 $peopleIconW: 9.25px;
 $dateIconW: 9.96px;
$backIconW: 11.38px;