.contact {
    width: 100%;
    
    .questionBox {
        display: inline-block;
        margin-top: 86.08px;
        margin-left: 11.98%;
        margin-right: 73.28px;
        padding: 34.15px 44.11px 34.15px 44.11px;
        border-radius: 2px;
        -webkit-box-shadow: 2px 2px 24px 9px rgba(0,0,0,0.11);
        -moz-box-shadow: 2px 2px 24px 9px rgba(0,0,0,0.11);
        box-shadow: 2px 2px 24px 9px rgba(0,0,0,0.11);

        .questionBoxTitle {
            font-family: 'Product Sans', Arial, sans-serif;
            font-size: 13.53px;
            color: #052833;
            font-weight: bold;
            margin-bottom: 20.63px;
        }

        .questionBoxRow1 {
            margin-bottom: 38.41px;
            
            & > * {
                display: inline-block;
                vertical-align: bottom;
            }

            .questionBoxRow1Box {
                width: 145.14px;
                height: 140.62px;
                border-radius: 2px;
                border: 1px solid #c1cbd2;
                cursor: pointer;


                .questionBoxRow1BoxImgCnt {
                    height: 81.11px;
                    text-align: center;
                    padding-top: 17.04px;
                    margin-bottom: 17.04px;
                }

                &:not(:last-child) {
                    margin-right: 21.34px;
                }

                &:nth-child(1) {
                    .questionBoxRow1Img {
                         width: 81.11px;
                    }
                }

                 &:nth-child(2) {
                    .questionBoxRow1Img {
                         width: 76.13px;
                    }
                   
                }

                 &:nth-child(3) {
                    .questionBoxRow1Img {
                         width: 48.38px;
                    }
                   
                }

                .questionBoxRow1Content {
                    padding-left: 17.04px;
                    padding-right: 17.04px;
                  
                    .questionBoxRow1ContentText {
                        float: left;

                        .questionBoxRow1BoxTitle {
                            font-family: 'Product Sans', Arial, sans-serif;
                            font-size: 10.69px;
                            color: #052833;
                            font-weight: bold;
                        }

                        .questionBoxRow1BoxSubtitle {
                            font-family: 'Product Sans', Arial, sans-serif;
                            font-size: 10.26px;
                            color: #c5ced5;
                        }
                    }

                    .questionBoxRow1CheckContainer {
                        float: right;
                        width: 19.92px;
                        height: 19.92px;
                        border: 1px solid #c1cbd2;
                        border-radius: 100%;
                        text-align: center;

                        .checkIcon {
                            display: none;
                            width: 19.92px;
                            height: 19.92px;
                        }
                    }
                }
            }
        }

        .infoTitle {
            font-family: 'Product Sans', Arial, sans-serif;
            font-size: 13.53px;
            color: #052833;
            font-weight: bold;
            margin-bottom: 20.63px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .questionBoxRow2 {
            margin-bottom: 18.5px;
          /*  height: 64px;*/

            .questionBoxRow2NameInfo {
                float: left;

                .questionBoxRow2NameInfoText {
                    font-family: 'Product Sans', Arial, sans-serif;
                    font-weight: bold;
                    font-size: 10.69px;
                    color: #60777e;
                    margin-bottom: 10.67px;
                }

                .questionBoxRow2NameInfoInputBox {
                    width: 224.1px;
                    height: 35.57px;
                    border-radius: 2px;
                    background-color: #eceff1;

                    input {
                        width: 100%;
                        height: 100%;
                        padding-left: 13.52px;
                        background-color: transparent;
                        border: none;
                    }
                }
            }

            .questionBoxRow2EmailInfo {
                float: right;

                .questionBoxRow2EmailInfoText {
                    font-family: 'Product Sans', Arial, sans-serif;
                    font-weight: bold;
                    font-size: 10.69px;
                    color: #60777e;
                    margin-bottom: 10.67px;
                }

                .questionBoxRow2EmailInfoInputBox {
                    width: 224.1px;
                    height: 35.57px;
                    border-radius: 2px;
                    background-color: #eceff1;

                    input {
                        width: 100%;
                        height: 100%;
                        padding-left: 13.52px;
                        background-color: transparent;
                        border: none;
                    }
                }
            }
        }

        .phoneInfo {
            margin-bottom: 18.5px;

            .phoneInfoTitle {
                font-family: 'Product Sans', Arial, sans-serif;
                font-weight: bold;
                font-size: 10.69px;
                color: #60777e;
                margin-bottom: 10.67px;
            }

            .phoneInfoInputBox {
                width: 224.1px;
                height: 35.57px;
                border-radius: 2px;
                background-color: #eceff1;

                input {
                    width: 100%;
                    height: 100%;
                    padding-left: 13.52px;
                    background-color: transparent;
                    border: none;
                }
            }
        }

        .messageInfo {
            margin-bottom: 18.5px;

            .messageInfoTitle {
                font-family: 'Product Sans', Arial, sans-serif;
                font-weight: bold;
                font-size: 10.69px;
                color: #60777e;
                margin-bottom: 10.67px;
            }

            .messageInfoInputBox {
                width: 100%;
                height: 82.53px;
                border-radius: 2px;
                background-color: #eceff1;

                textarea {
                    resize: none;
                    width: 100%;
                    height: 100%;
                    padding-top: 12.81px;
                    padding-left: 13.52px;
                    padding-right: 13.52px;
                    background-color: transparent;
                    border: none;
                }
            }
        }

        .questionBoxButton {
            float: right;
            display: block;
            width: 123.79px;
            padding-top: 12.81px;
            padding-bottom: 12.81px;
            text-align: center;
            background-color: #09c7ff;
            font-family: 'Product Sans', Arial, sans-serif;
            font-weight: bold;
            font-size: 12.19px;
            color: white;
            text-decoration: none;
            border-radius: 2px;
        }

    }

    .contactInfoMap {
        float: right;
        margin-top: 86.09px;
          margin-right: 5.31%;

        .contactInfo {
           margin-bottom: 41.26px;

            .contactInfoTitle {
                font-family: 'Product Sans', Arial, sans-serif;
                font-weight: bold;
                font-size: 15.65px;
                color: #052833; 
                margin-bottom: 28.46px;
            }

            .contactText {
                font-family: 'Product Sans', Arial, sans-serif;
                color: #647a81;
                font-size: 12.09px;

                &:not(:last-child) {
                    margin-bottom: 28.46px;
                }

                span {
                    color: #09c7ff;
                }
            }
        }

        .contactMap {
            width: 355.72px;
            height: 331.54px;
            position: relative;
          }
    }

    @media screen and (max-width: 1224px) {
        .questionBox {
            margin-right: 0;
        }

        .contactInfoMap {
            float: none;
            margin-left: 11.98%;
        }
    }

    @media screen and (max-width: 767px) {
        .questionBox {
            width: 100%;
            margin-left: 0;
            padding-left: 4%;

            @media screen and (max-width: 586px) {
                .questionBoxRow1 > * {
                    display: block;
                    margin-bottom: 20px;
                }
                .questionBoxRow2{

                   .questionBoxRow2NameInfo {
                       float: none;
                       margin-bottom: 18px;
                   }

                    .questionBoxRow2EmailInfo {
                        float: none;

                        .questionBoxRow2EmailInfoText {
                            float: none;
                            display: block;
                        }
                    
                    }
                }
                
            }
        }

        .contactInfoMap {
            margin-left: 4%;

            .contactMap {
                width: 100%;
            }
        }
    }
}